<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <%= javascript_pack_tag 'timer/application' %>
  <meta charset="UTF-8">
  <title>Timer</title>
</head>
<body>
  <%= render "shared/header" %>
  <div class="progress-pie-chart">
    <div class="ppc-progress">
      <div class="ppc-progress-fill"></div>
    </div>
    <div class="ppc-percents">
      <div class="pcc-percents-wrapper">
        <span>25:00</span>
      </div>
    </div>
  </div>
  <%if @timerecord.present?%>
    <%if @past_days >= 1%>
      <%= form_with  model: @timerecord, url: timerecords_path, id: 'time-form', class: 'button',local: true do |f| %>
      <div class='f_new'>
        <%= f.text_field :time_record, value:1 %>
        <%= f.text_field :day_record, value:Time.now.day %>
      </div>
      <%= f.submit "スタート",class:"s_button", id: "start" %>
    <% end %>
    <% else %>
      <%= form_with  model: @timerecord, url: timerecords_path, id: 'time-form', class: 'button',local: true do |f| %>
      <div class='f_new'>
        <%= f.text_field :time_record, value:@time.time_record + 1 %>
        <%= f.text_field :day_record, value:Time.now.day %>
      </div>
      <%= f.submit "スタート",class:"s_button", id: "start" %>
    <% end %>
    <% end %>
  <% else %>
    <%= form_with  model: @timerecord, url: timerecords_path, id: 'time-form', class: 'button',local: true do |f| %>
    <div class='f_new'>
      <%= f.text_field :time_record, value:1 %>
      <%= f.text_field :day_record, value:Time.now.day %>
    </div>
    <%= f.submit "スタート",class:"s_button", id: "start" %>
  <% end %>
  <% end %>
  <audio id="sound" src="/assets/Onoma-Inspiration11-3(High)-86974574321677e19db267859c885855381cffaba6a8cb16308af7d3dab87878.mp3"></audio>
  <footer>
  </footer>
</body>
</html>